.imageHolder {
  width: 400px;
  margin: 3% 13%;
  float: left;
}

.imageHolder>img {
  width: 100%;
  border: 2px solid #000;
  border-radius: 8%;
}

.productName {
  font-size: 32px;
  float: left;
  margin: 5% -10%;
}

.price {
  float: right;
  color: rgb(21, 107, 0);
  margin: 5% 12% 0 0;
  font-size: 30px;
  display: block;
}

.lineDiv {
  float: left;
  margin: 8.5% -9%;
  width: 550px;
  border: 1px solid #333;
}

.productDescription {
  float: left;
  margin: 10% -32%;
  color: #333;
  font-size: 15px;
}

#familiesSelect {
  float: right;
  margin: 1% 13%;
  width: 180px;
  text-align: center;
}

.familiesContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.family {
  color: #333;
}
